node_modules
config.env
test.js
.cache
.gitattributes
.eslintrc.json
.prettierrc
dev-data

# AWS
ec2-webapp.pem
webserver.pem

# docker
# docker-compose.yaml
# dockerfile
# .dockerignore