extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to the reset password endpoint.
    p If you didn't forget your password, please ignore this email!
    p (The reset password webpage is not allow to access for now.)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Get reset password endpoint
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Roy Wang